body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('images/purple_beach.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-attachment: fixed;
}

.calendar-container { display: flex; flex-wrap: wrap;}

.calendar-container, .navigation {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
}

#calendar {
  font-family: "Silkscreen", sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 300px;
}

.day, .day-name {
  text-align: center;
  width: calc(100% / 7 - 4px);
  line-height: 300%;
  display: inline-block;
  margin: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: background-color 0.3s;
}

.day:hover, .day-name:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.navigation {
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  overflow: visible;
  z-index: 2;
}

.nav-cat {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70px;
  height: auto;
}

.nav-cat:first-of-type {
  left: 10px;
}

.nav-cat:last-of-type {
  right: 10px;
}

#prevMonth {
  margin-left: 60px;
}

#nextMonth {
  margin-right: 60px;
}

.navigation button {
  padding: 10px 15px;
  margin: 10px;
  background-color: rgb(166, 69, 192, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

.navigation button:hover {
  background-color: rgb(166, 69, 192, 0.8);
}

#daysOfWeek {
  text-align: center;
  margin-top: 10px;
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#currentMonthYear {
  position: absolute; 
  z-index: 3; 
  text-align: center;
  font-family: "Luckiest Guy", cursive;
  font-weight: 400;
  font-style: normal;
  width: auto;
  min-width: 200px;
  display: inline-block;
  color: rgb(255, 255, 255);
  text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.cloud-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  left: 0;
  flex-direction: column;
  height: 100%;
}

#cloud-img {
  position: absolute;
  top: -5%;
  z-index: 1;
  width: 140px;
  height: auto;
  pointer-events: none;
}

#nextMonth, #prevMonth {
  font-family: "Silkscreen", sans-serif;
  font-weight: 500;
  font-style: bold;
}

.past-day {
  filter: blur(1px);
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.3);
}
